VITE_FLUENT_FORM_ID=10
VITE_FLUENT_FORM_NONCE=not_needed
VITE_FLUENT_FORMS_URL=https://elements.abraham.com.ng/wp-json/abraham/v1/submit
VITE_INTAKE_FORM_URL=https://elements.abraham.com.ng/wp-json/abraham/v1/intake
VITE_PAYSTACK_PUBLIC_KEY=pk_live_your_public_key_here
